<html>
<head>
    <title>First Directive</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
  
    .mystyle {
        border: 1px solid red;
    }
    
</style>
</head>
<body ng-app="myApp">
 <div ng-controller="AppCtrl">
   <button ng-click="loadData()">Load Technologies</button>
   <input type="text" ng-model="search.content" placeholder="Search Content"/>
   
    <gp-panel ng-repeat="technology in technologies | filter:search" title="{{technology.title}}">{{technology.content}}</gp-panel>
 </div>
   
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js">
</script> 
<script>
    var app = angular.module('myApp', []);
    
    app.controller('AppCtrl', function($scope,$http){
        $scope.loadData = function() {
                $http({
                    url: '/dummy.json',
                    method: 'GET'
                }).success(function(data) {
                    $scope.technologies = data;
                })
            }
        
    })

    
    app.directive('gpPanel', function(){
        return {
            restrict: 'E',
            templateUrl: 'partial/panel.html',
            scope: {
                title: '@title'
            },
            
            compile: function(element, attrs){
                console.log('In compile Attaching style...')
                element.addClass('mystyle');
                
                var link = function(scope, element, attrs){
                    
                    console.log('for every instance')
                }
                return link
            },
            
            /*link: function(scope, element, attrs){
                //scope.title = attrs.title
                console.log('In link Attaching style...')
                element.addClass('mystyle');
                /*element.bind('mouseover', function(){
                    
                })
                /*element.bind('mouseleave', function(){
                    element.removeClass('mystyle');
                })
            }*/
            replace: true,
            transclude: true
            
        }
    })
</script>   
</body>
</html>